<div class="row" id="contentToConvert">
    <div class="col-md-5">
        <div class="guest-form-card card">
            <div class="card-header text-center">
                <h2>Order Details</h2>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-borderless table-sm">
                        <thead>
                            <tr class="order-details-header">
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Sub Total</th>
                            </tr>
                            
                        </thead>
                        <tbody>
                            <tr *ngFor="let cartItem of cartItems">
                                <th class="order-details-body">
                                    {{ cartItem.productName}}<br/><I>(LKR {{cartItem.unitPrice}})</I>
                                </th>
                                <th class="order-details-body">{{cartItem.quantity}}</th>
                                <th class="order-details-body">{{ (cartItem.unitPrice * cartItem.quantity) | currency :'LKR '}}</th>
                            </tr>
                            <tr>
                                <b>Grand Total: {{ getCartTotal()}} </b>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="guest-form-card card">
            <div class="card-header text-center">
                <h2>Payment Details</h2>
            </div>
            <div class="card-body">
                <form autocomplete="off" [formGroup]="paymentFormModel" (submit)="onPay()">
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Billing Details</h6>
                            <label>Name</label>
                            <input class="form-control" [readonly]="true" value="{{name}}"/><br/>
                            <label>Email</label>
                            <input class="form-control" [readonly]="true" value="{{email}}" #myEmail/><br/>
                            <label>Address</label>
                            <input class="form-control" [readonly]="true" value="{{address}}"/><br/>
                            <label>Phone</label>
                            <input class="form-control" [readonly]="true" value="{{phone}}"/><br/>
                            <label>
                                <input type="checkbox" (change)="onCheckboxChange($event)"/> Receiver details equal to billing details
                            </label>
                            
                        </div>
                        <div class="col-md-6">
                            <h6>Receiver Details</h6>
                            <div class="form-group required">
                                <label>Name</label>
                                <input class="form-control" id="recName" formControlName="receivername" value="abc"/><br/>
                                <label class="text-danger" *ngIf="paymentFormModel.get('receivername').touched && paymentFormModel.get('receivername').errors?.required">Receiver name is required!</label>
                            </div>
                            <div class="form-group required">
                                <label>Address</label>
                                <input class="form-control" id="recAddress" formControlName="receiveraddress"/><br/>
                                <label class="text-danger" *ngIf="paymentFormModel.get('receiveraddress').touched && paymentFormModel.get('receiveraddress').errors?.required">Receiver address is required!</label>
                            </div>
                            <div class="form-group required">
                                <label>Phone</label>
                                <input class="form-control" id="recPhone" formControlName="receiverphone"/><br/>
                                <label class="text-danger" *ngIf="paymentFormModel.get('receiverphone').touched && paymentFormModel.get('receiverphone').errors?.required">Phone is required!</label>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <!-- <h6>Card Details</h6>
                    <div class="form-group required">
                        <label>Card Type</label>
                        <div class="form-control">
                            <label class="radio-inline">
                                <input type="radio" value="visa" name="cardtype" formControlName="cardtype">
                                Visa
                            </label>
                            <label class="radio-inline" style="padding-left: 30px;">
                                <input type="radio" value="master" name="cardtype" formControlName="cardtype">
                                Master
                            </label>
                        </div>
                        <label class="text-danger" *ngIf="paymentFormModel.get('cardtype').touched && paymentFormModel.get('cardtype').errors?.required">Card type is required!</label>
                    </div>
                    <div class="form-group required">
                        <label>Card Number</label>
                        <input class="form-control" formControlName="cardnumber"/>
                        <label class="text-danger" *ngIf="paymentFormModel.get('cardnumber').touched && paymentFormModel.get('cardnumber').errors?.required">Card number is required!</label>
                    </div>
                    <div class="form-group required">
                        <label>Expiration Date</label>
                        <input class="form-control" formControlName="expdate" placeholder="mm/yyyy"/>
                        <label class="text-danger" *ngIf="paymentFormModel.get('expdate').touched && paymentFormModel.get('expdate').errors?.required">Expiration date is required!</label>
                    </div>
                    <div class="form-group required">
                        <label>CVN</label>
                        <input class="form-control" formControlName="cvnnumber"/>
                        <label class="text-danger" *ngIf="paymentFormModel.get('cvnnumber').touched && paymentFormModel.get('cvnnumber').errors?.required">Expiration date is required!</label>
                    </div> -->
                    <div class="d-flex justify-content-between align-items-center">
                        <button type="button" class="btn btn-outline-secondary product-btn" style="width: 50%;" [routerLink]="['/cart']">Cancel</button> 
                        <button type="button" class="btn btn-primary product-btn" style="width: 50%;" type="submit" [disabled]="!paymentFormModel.valid">Pay</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>