<div *ngIf="cartItems.length === 0" class="alert alert-info">No items Added.</div>

<div class="pb-5" *ngIf="cartItems.length !== 0">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

          <!-- Shopping cart table -->
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="border-0 bg-light">
                    <div class="p-2 px-3 text-uppercase">Product</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Unit Price</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Quantity</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Sub Total</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Remove</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cartItem of cartItems">
                  <th scope="row" class="border-0">
                    <div class="p-2">
                      <img src="{{cartItem.imageUrl}}" style="width:100px; height: 100px;">
                      <div class="ml-3 d-inline-block align-middle">
                        <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block align-middle">{{ cartItem.productName}}</a></h5>
                        <!-- <span class="text-muted font-weight-normal font-italic d-block">Category: {{ cartItem.category}}</span> -->
                      </div>
                    </div>
                  </th>
                  <td class="border-0 align-middle"><strong>{{cartItem.unitPrice | currency:'LKR '}}</strong></td>
                  <td class="border-0 align-middle"><strong><input type="number" min="1" max="10" value="{{cartItem.quantity}}" [(ngModel)]="cartItem.quantity"></strong></td>
                  <td class="border-0 align-middle"><strong><span>{{ (cartItem.unitPrice * cartItem.quantity) | currency :'LKR '}}</span></strong></td>
                  <td class="border-0 align-middle"><a href="#" (click)="removeCartItem(cartItem)"><img style="width:20px;height:20px" src="assets/img/bin_icon.png"></a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- End -->
        </div>
      </div>

      <div class="row py-5 p-4 bg-white rounded shadow-sm">
        <div class="col-lg-6">
          <div class="p-4">
            <p class="font-italic mb-4">Shipping and additional costs are calculated based on values you have entered.</p>
            <ul class="list-unstyled mb-4">
              <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Order Sub Total </strong><strong>{{getCartTotal() | currency:'LKR '}}</strong></li>
              <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Shipping and handling</strong><strong>$10.00</strong></li>
              <!-- <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Tax</strong><strong>$0.00</strong></li> -->
              <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Total</strong>
                <h5 class="font-weight-bold">$400.00</h5>
              </li>
            </ul>
            <a href="#" class="btn btn-dark rounded-pill py-2 btn-block">Procceed to checkout</a>
          </div>
        </div>
      </div>

    </div>
  </div>
